body {
}

h1 {
  width: 100vmin
}

ol, ul {
  /*padding-left: 30px;*/
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.boardRow {
  min-width: 50vmin
}

.status {
  margin-bottom: 10px;
}

.chessboard {
  /*min-width: 60vmin*/
  display: flex;

  align-items: center;

  justify-content: center;

}

.moveHistory {
  /*font-size: 0.8rem;*/
  max-height: 50vmin;
  overflow: auto;
  font-size: 0.8rem
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 6vmin;
  line-height: 6vmin;
  height: 6vmin;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6vmin;
}

.black{
  background: #ddd;
}
.white{
  background: #fff;
}
.highlighted {
  background-color: rgba(0,50,150,0.3)
}

.square:focus {
  /*outline: none;*/
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", Helvetica, serif
}