body {
  /*font: 14px "Century Gothic", Futura, sans-serif;*/
  margin: 5vmin;
}

ol, ul {
  /*padding-left: 30px;*/
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


button, .square {
  border: 1px solid #999;
  float: left;
  font-size: 8vmin;
  line-height: 10vmin;
  height: 10vmin;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vmin;
}

.black{
  background: #ddd;
}
.white{
  background: #fff;
}
.highlighted {
  background-color: rgba(0,50,150,0.3)
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


.game {
  display: flex;
  flex-direction: row;
}
